html, body {
    font-family: Arial;
    height: 100%;
    width:  100%;
    margin-right: auto !important;
    margin: 0;
    overflow: hidden;
    
}

.validateTips { border: 1px solid transparent; padding: 0.3em; }
