# eclipse project folder
.project
.pydevproject

# pyramid stuff which is not necessary
production.ini
development.ini
pyramid.wsgi
build
dist
vkviewer.egg-info
local
bin
lib
include
doc-pak

# files which are holding sensible information
vkviewer/settings.py
vkviewer/settings.pyc

# test files
vkviewer/static/test

# all files with ending 
*.pyc

# complete librarys
vkviewer/static/lib/debug

# Don't log Vkviewer/Vkviewer-ol3.js
vkviewer/static/js/Vkviewer.js
vkviewer/static/js/Vkviewer-ol3.js
vkviewer/static/css/styles.css

# don't follow the deploy version of vkviewer
deploy/vkviewer
deploy/settings.py

# log directory 
log

vkviewer/python/tests/test-data/
