# eclipse project folder
.project
.pydevproject

# pyramid stuff which is not necessary
production.ini
development.ini
pyramid.wsgi
build
dist
vkviewer.egg-info
python_env
tmp
.settings

# files which are holding sensible information
vkviewer/settings.py
vkviewer/settings.pyc

# test files
vkviewer/static/test

# all files with ending 
*.pyc

# complete librarys
vkviewer/static/lib/debug

# Don't log Vkviewer/Vkviewer-ol3.js
vkviewer/static/test/*

# don't watch build files
vkviewer/static/vkviewer-min.js
vkviewer/static/styles-min.css
vkviewer/static/build/styles-all.css

# don't follow the deploy version of vkviewer
deploy/vkviewer
deploy/settings.py

# log directory 
log

vkviewer/python/tests/test-data/
/home/mendt/workspaces/vkviewer/template-files/metadaten-templates/tmp/

# do not commit
vkviewer/python/scripts/CheckForUpdatedMesstischblaetter.py

# scripts which shouldn't be pushed to the repo
vkviewer/python/scripts/db/*
