.georeference-tools-container{
	z-index: 1000;
	position: absolute;
	top: 200px;
	width: 250px;
	height: 250px;
	left: -250px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}

.georeference-tools-container .georeference-tools-handler{	
	z-index: 1000;
	position: absolute;
	top: 40px;
	right: -40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
	width: 40px;
	height: 40px;
}

.georeference-tools-container .georeference-tools-inner-container{
	padding: 10px;
	margin-left: 1px;
	display: none; 
	margin-left: 15px;
}

.vk2GeoreferenceToolsPanel{
	height: 230px;
	width: 230px;
	padding: 10px;
	background-color:white;
}

.vk2GeoreferenceToolsPanel .vk2GeorefToolsBtn{
	float:left;
	position: relative;
	margin-bottom: 5px;	
}

.vk2GeorefControl{
	position: absolute;
	top:160px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2GeorefControl .vk2SidebarIcon{
	background-position: -120px 0;
}

.vk2GeoreferenceToolsPanel .vk2GeoreferenceToolsContent{
	padding: 5px;	
}