.vk2GeorefPanel{
	position: absolute;
	top: 200px;
	right: 0px;
}

.vk2GeorefHandle{
	background-image: url(/vkviewer/static/images/georef.png);
	background-repeat: no-repeat no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	outline: none;
}