.vk2GeoreferenceToolsPanel{
	width: 200px;
}

.vk2GeoreferenceToolsPanel .vk2GeorefToolsBtn{
	float:left;
	position: relative;
}

.vk2GeorefControl{
	position: absolute;
	top:160px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2GeorefControl .vk2SidebarIcon{
	background-position: -120px 0;
}