@CHARSET "UTF-8";

/* hide the OpenStreetMap sign while debugging */
#OpenLayers_Control_Attribution_4{
    z-index: 0 !important;
}

.vk2LayersearchPanel{
    width: 385px;
    height: 470px;
    margin-right: 20px;
    /* overflow: scroll; */
}

.vk2LSMainPanel{
	width: 385px;
	height: 350px;
}

.vk2LSMainPanel .vk2HeaderPanel{
	width: 385px;	
	height: 45px;
}

.vk2LSMainPanel .vk2HeaderPanel .vk2LSHeaderContainer{
	height: 41px;
	width: 385px;
}

.vk2LSMainPanel .vk2LSHeaderContainer .vk2LSHeaderContent{
	position: relative;
	float: left;
	margin-top: 10px;
	padding-left:3px;
	width: 70%;	
}

.vk2LSMainPanel .vk2LSHeaderContainer.ui-state-error .vk2LSHeaderContent{
	padding: 3px;
	margin-top: 0px;
}

.vk2LSMainPanel .vk2LSHeaderContainer .vk2LSHeaderLoadingContainer{
	position: relative;
	float: left;
	margin-top: 15px;
	padding: 10px;
	width: 10%;	
}

.vk2LSMainPanel .vk2LSHeaderContainer .vk2LSHeaderLoadingContainer.loading{
	background: white url('../../../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.vk2LSMainPanel .featureGridPanel{
	width: 385px;
	height: 300px;
}

.vk2LSMainPanel .vk2LSToolPanel{
    width: 385px; 
    height: 120px;
}

.vk2LSMainPanel .vk2LSToolbar{
    position: absolute; 
    left: 10px; 
    top: 20px;
}

.vk2LSToolbar .vk2TimeSliderLabel1{
    border: 0;
    font-weight: bold;
    position: absolute; 
    left: 1px; 
    width: 40px;
}

.vk2LSToolbar .vk2TimeSliderLabel2{
    border: 0;
    font-weight: bold; 
    position: absolute; 
    left: 340px; 
    width: 40px;
}

.vk2LSToolbar .vk2TimeSliderDiv{
    position: absolute; 
    left: 50px;
    width: 270px;
}

.vk2LSToolbar .vk2AddLayerDiv{
    position: absolute; 
    top: 30px; 
    left: 30px;
    width: 340px;
}

.vk2LSToolbar .vk2AddLayerInput{
    font-size: 1em; 
    height: 30px; 
    font-weight: bold;
    width: 100px;
    margin: 5px;
}

/*
	Button for open the LayerSearch
*/
.vk2LayersearchControl{
	z-index: 1000;
	position: absolute;
	top:40px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2LayersearchControl .vk2SidebarIcon{
	background-position: 0px 0;
}