
.vk2LoginLbl{
	padding: 0 0 0 2px;
}

.vk2LoginInput{
	width: 140px;
}

.userLogin .loginMenu.signin{
	margin-top: -8px;	
}

.userLogin .loginMenu.signout{
	margin-top: 10px;	
	color: #ADA79E;
}

.loginMenu ul li{
	float: left;
	margin: 0 -1px 0 0;
	border-right: 1px dotted #fff;
	padding: 0 6px;
	color: #fff;
}

.loginMenu .language_switcher a{
	position: relative;
	height: 11px;
	width: 16px;
	display: block;
	overflow: hidden;
	text-indent: -9000px;
	background: url('../../../images/flags.png') no-repeat;	
}

.loginMenu .language_switcher a{
	position: relative;
	height: 11px;
	width: 16px;
	display: block;
	overflow: hidden;
	text-indent: -9000px;
	background: url('../../../images/flags.png') no-repeat;	
}

.loginMenu .language_switcher .switch_de{
	background-position: 0 0; 
}

.loginMenu .language_switcher .switch_en{
	background-position: 0 -11px; 
}

.vk2PleaseLoginMsg{
	padding: 0 12px 0 20px;
	background-position: right -23px;
}

/* style of language_switcher if login */
.loginMenu.signin .language_switcher{
	margin-top: 20px;
}


