/* Styling of the header of the MapSearchPanel */

.vk2LayersearchPanel{
    width: 100%; 
    margin-right: 20px;
}

/*
	Button for open the LayerSearch
*/
.vk2LayersearchControl{
	z-index: 1000;
	position: absolute;
	top:40px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2LayersearchControl .vk2SidebarIcon{
	background-position: 0px 0;
}

/* new styling */
.panel-heading{
    height: 40px;
}

.panel-heading .content{
	display: block;
	width: 90%;
	height: 100%;
	position: relative;
	float: left;
}
    
.panel-heading .loading{
    width: 10%;
    height: 20px;
    position: relative;
    float: left;      	
}
    
.panel-heading .loading.active{
	background: url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* Styling of the MapSearchTable */
.searchTablePanel{
    width: 100%;
}
    
.hover-table{
    background-color: #f5f5f5;
    cursor: pointer;
}
    
.table-heading{
    display: block;	
    border-bottom: 2px solid #dddddd;
}
    
.table-heading .tablesorter-headerRow{
    cursor: pointer;
}
    
.header-col{
    border-bottom: 0px !important;
}
    
.table-body{
    display: block;
    min-height: 200px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
}

/* Size of table columns */
.table-heading .header-col-time .titel{
	padding-left: 10px;
}

.col-time{
	width: 100px;
}

.col-titel, .col-tools{
	width: 300px;
}

/* Styling of the Tools */
.panel-spatialsearch-tools{
	position: relative;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.panel-spatialsearch-tools > label {
	margin-bottom: 10px;
}

.panel-spatialsearch-tools .time-slider-container {
	height: 40px;
}

.panel-spatialsearch-tools .time-slider-container > div{
	font-weight: bold;
	position: relative;
	float: left;
}

.time-slider-container .slider-label-start{
	width: 40px;
	margin-right: 10px;
}

.time-slider-container .slider{
	width: 270px;
}

.time-slider-container .slider-label-end{
	width: 40px;
	margin-left: 10px;
}

.panel-spatial-search-tools .layer-chooser-container{
	position: relative;
	float: left;
	margin-top: 10px;
}

.layer-chooser-container .layer-chooser-input{
	padding: 5px;
}

.layer-chooser-container .layer-chooser-btn{
	padding: 5px;
}

/* MinimizeMesstischblattViewer style */
.panel-spatialsearch-mtbview {
	position: relative;
	float: left;
	margin-top: 15px;
	width: 100%;	
}

.mmv-table-body{
    display: block;
    min-height: 40px;
    height: auto;
    max-height: 120px;
    overflow-y: scroll;
}

.mmv-tools-container{
	position: relative;
	float: right;
	width: 100px;
	height: 20px;
}

.mmv-tools-container .mmv-tool-anchor{
	position: relative;
	float: right;
	margin-left: 5px; 
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.mmv-tool-icon {
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;	
}

.mmv-tool-anchor.show-timestamp .mmv-tool-icon{
	content: "T"";
}

.mmv-tool-anchor.show-single-map .mmv-tool-icon{
	content: 'S';
}

.mmv-tool-anchor.show-metadata .mmv-tool-icon{
	content: 'M';
}
