.vk2TimeViewerPanel{
	width: 450px;
	height: 150px;
	z-index: 1000;
	background: white;
}

.vk2TimeViewerPanel .showTime{
	height: 20px;
	width: 140px;
	margin: 5px;
}

/* time slider */
.vk2TimeViewerPanel .sliderPanel{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 25px;
	margin-left: 25px;
	width: 400px;
	height: 80px;
}

/* styling of the speed chooser */
.speedChooserPanel{
	position: relative;
	width: 200px;
	height: 40px;
	margin-top: 5px;
	margin-left: 25px;
	display: block;
	float: left;	
}

/* Styling of the control buttons play/pause/stop */
.vk2TimeViewerPanel .controls{
	position:relative;
	float: left;
	background-repeat: no-repeat no-repeat;
	width:40px;
	height: 40px;
	display: block;
	outline: none;
	margin:5px;
}

.vk2TimeViewerPanel .play{
	background-image: url(/vkviewer/static/images/play.png);
}

.vk2TimeViewerPanel .pause{
	background-image: url(/vkviewer/static/images/pause.png);
}

.vk2TimeViewerPanel .stop{
	background-image: url(/vkviewer/static/images/stop.png);
}

/* loading screen */
.loadingScreen{
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -150px;
	margin-right: -150px;
	width: 300px;
	height: 50px;
	padding: 10px;
	z-index: 1000;
	color: white;
	background-color: rgb(173,167,158);
	opacity: 0.8;
}
