/* 
	main page 
*/
/* body layout */
.main-page.body-container{
	padding-top:50px;	
}

.main-page.content-container{
	width: 100%;
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.vk2MapPanel{
	position: absolute; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	padding-bottom: 75px; 
	width: 100%;
	height: 100%;
}

.vk2FooterPanel{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding: 0;
	overflow:hidden;
	background-color:rgb(173,167,158);
    opacity: 0.9;
    z-index:1001;
}

.vk2SBPanel{
	top: 0px;
	padding-bottom: 75px;
	height: 100%;
	z-index: 1000;
	position: absolute;
	right: -420px;
	width: 420px;
	display: block;
	background: white;
}

/* map stuff */

#mapdiv  { 
    width:100%; 
    height: 100%;
    background-color:#B3C6D4;
}