@media (min-width: 768px){
	.side-nav {
		margin-right: -400px;
		right: 400px;
		width: 400px;
		position: fixed;
		top: 50px;
		height: 100%;
		border-radius: 0;
		border: none;
		background-color: #222222;
		overflow-y: auto;
	}
}
