/* in case of responsive breakpoint behaviour display overflow */
.georeference-validate.page-container{
	overflow-y: auto;
}

/* container and bootstrap row which contain the both map object */
.georeference-validate-container{
	width: 100%;
	height: 95%;
	margin-left: 0px;
}

.outer-map-container{
	height: 100%;
}
		
/* unreferenced map container */
.unreferenced-map{
	width: 100%;
	height: 100%;
	background: white;
}

/* validation map container */
.georeferenced-map{
	width: 100%;
	height: 100%;
}

/* Placement and styling of opacity slider */
.georeferenced-map .opacity-container{
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 300px;
	z-index: 1000;
	margin-left: -150px;
	margin-right: 150px;
}

.georeferenced-map .opacity-container .opacity-slider{
	width: 100%;
}

.georeferenced-map .opacity-container .tooltip{
			top: -33px;
			left: 100px;
			display: none;
}
		
/* open error dialog button placement*/
.open-error-dialog{
	position: absolute;
	top: 100px;
	left: 0px;
}
