/* header design */
.vk2HeaderNavBar { 
	height: 85px; 
	background: #f33; 
	background: rgba(255,51,51,0.9) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAGFBMVEUJAADrOjo+ExLOOjltHhyTJyf/PDqwLCcLq8SYAAAACHRSTlMNDQ0NDQ0NDTiWuKEAAAH/SURBVCjPBcE5g6IwAAbQL4FAm3BomxCZbSOIthwy0yKithGPaXFxZ/7+voffKZV2Owyru0X2M7aLEg3lnOeOOWZFeiNb1gB2kcoJuKmKvO1OX13gx7OXh/TutrT7+32yZ+ALeMqXd7URvTx/7tfAQJpicLB1uqYgybguYovMju3569pv6Eho6oXKYM7KwzMezaNP6tPn6e5JnFv5uZmmLgvT8vosolbiVo+qTjDKjwWdX95sJoz9gxEqt9RrAKcxAXC1nFpYr/Qq1jk82AKjxcGsrccXtHE9xe4Syw7kaOyf+63B1hhmDIRbOjtf8rzIs+T72/E7vJ22Cs+sJbekPD0++hYo2s1mPcxEv91hfdrbrETed1kld26YePNOT1NvcWpp1USqfilNdz2llKMSkQjiShAnWO+ro645yMB/lXDZoePg7TJgHJxM+ZuKXSaIr2V94IB2IDmF0VHWiC6acyCpOibnfwMJuarndq0kNofIxfpSkFW8ohs3Ygavd429RlQhKhvOBsnh/03YQdNI0KGLC6I7A0nEa3VUxRchhocqYhN4/IoUXdLEoUxwJQKObglWMUDUgS8yEosOhd4QLuE7eQidm6ziCGfhp25OciFcqlPeS9R5nRK6H+p9r4aZtbxDd3QTnbox0r96eXRJOSHLdV2o16VUod84zYHiPyXZcVv+pLaSAAAAAElFTkSuQmCC') 0 0 repeat;
	border-bottom: 0 none;
}
	
.vk2HeaderNavBar .navbar-brand { 
	width: 250px; 
	height: 60px; 
	border-right: 1px dotted #fff; 
	margin-top: 12px; 
	display: block; 
	overflow: hidden; 
	text-indent: 100%; 
	white-space: nowrap; 
	background: url('/vkviewer/static/images/vkf2Logo.svg') no-repeat 0 0; 
	background-size: contain; 
}

/* Gazeetteer */
.vk2Gazetteer { 
	margin: 12px 250px; 
	position: relative; 
	height: 40px; 
	padding: 10px 20px;
}

.vk2Gazetteer .form-group { width: 100%; }

.vk2GazetteerSearchInput { 
	position: relative; 
	width: 100%; 
	border-radius: 0; 
	border: 3px solid #a22; 
	font-weight: 300;
}

.vk2GazetteerSearchInput:focus { 
	border-color: #766; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2); 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2); 
}

.gazetteer-submit-button { display: none; }

.ui-autocomplete{
	width: 25em;
	z-index: 2000;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: white url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* User Login and Controls */
.vk2-navbar-user { 
	width: 250px; 
	border-left: 1px dotted #fff; 
	height: 60px; 
	margin-top: 12px; 
	padding: 12px 0 0 20px; 
}

.vk2-navbar-user>li.dropdown { margin: 0 6px; }

.vk2-navbar-user>li.dropdown>a { 
	height: 26px; 
	width: 25px; 
	box-shadow: 1px 1px 0 rgba(0,0,0,0.5); 
	overflow: hidden; 
	background: #a33 url('/vkviewer/static/images/userNavSprite.png') 0 0 no-repeat; 
	padding: 0; 
}

.vk2-navbar-user>li.user-dropdown>a { 
	width: 130px; 
	color: #fff; 
	padding-left: 30px; 
	font-size: 0.8em; 
	line-height:25px; 
}

.vk2-navbar-user>li.info-dropdown>a { 
	text-indent: 100%; 
	white-space: nowrap; 
}

.vk2-navbar-user>li.info-dropdown>a { background-position: 0 0; }
.vk2-navbar-user>li.user-dropdown>a { background-position: -25px 0; }

.vk2-navbar-user>li.info-dropdown>a:hover { 
	background-color: #076; 
	background-position: 0 -26px; 
}

.vk2-navbar-user>li.user-dropdown>a:hover { 
	background-color: #076; 
	background-position: -25px -26px; 
}

.vk2-navbar-user>li.dropdown:after { 
	position: absolute; 
	left: 7px; 
	bottom: -6px; 
	content: ""; 
	height: 0; 
	width: 0; 
	border: 6px solid #a33; 
	border-width: 6px 6px 0 6px; 
	border-color: #a33 transparent transparent transparent; 
}

.vk2-navbar-user .dropdown:hover .dropdown-menu { display: block; }

/* Language switcher */
.langswitch { 
	position: absolute; 
	top: 24px; 
	right: 20px; 
	list-style-type: none; 
}

.langswitch li { 
	width: 16px; 
	height: 11px; 
	overflow: hidden; 
	padding: 0; 
	margin: 0 0 6px 0; 
}

.language_switcher { 
	position: relative; 
	float: left; 
	height: 11px; 
	width: 16px; 
	display: block; 
	overflow: hidden; 
	text-indent: -9000px; 
	background: url('/vkviewer/static/images/flags.png') no-repeat 
}

.language_switcher.switch_de { background-position: 0 0 }

.language_switcher.switch_en { background-position: 0 -11px }

/* Response behavior */
.navbar-toggle {
	margin-right: 45px;
	margin-top: 22px;
	padding: 9px 10px;
	border: 1px solid transparent;
	border-color: #333;
	border-radius: 4px;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse.in{
	background: #f33; 
	background: rgba(255,51,51,0.9) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAGFBMVEUJAADrOjo+ExLOOjltHhyTJyf/PDqwLCcLq8SYAAAACHRSTlMNDQ0NDQ0NDTiWuKEAAAH/SURBVCjPBcE5g6IwAAbQL4FAm3BomxCZbSOIthwy0yKithGPaXFxZ/7+voffKZV2Owyru0X2M7aLEg3lnOeOOWZFeiNb1gB2kcoJuKmKvO1OX13gx7OXh/TutrT7+32yZ+ALeMqXd7URvTx/7tfAQJpicLB1uqYgybguYovMju3569pv6Eho6oXKYM7KwzMezaNP6tPn6e5JnFv5uZmmLgvT8vosolbiVo+qTjDKjwWdX95sJoz9gxEqt9RrAKcxAXC1nFpYr/Qq1jk82AKjxcGsrccXtHE9xe4Syw7kaOyf+63B1hhmDIRbOjtf8rzIs+T72/E7vJ22Cs+sJbekPD0++hYo2s1mPcxEv91hfdrbrETed1kld26YePNOT1NvcWpp1USqfilNdz2llKMSkQjiShAnWO+ro645yMB/lXDZoePg7TJgHJxM+ZuKXSaIr2V94IB2IDmF0VHWiC6acyCpOibnfwMJuarndq0kNofIxfpSkFW8ohs3Ygavd429RlQhKhvOBsnh/03YQdNI0KGLC6I7A0nEa3VUxRchhocqYhN4/IoUXdLEoUxwJQKObglWMUDUgS8yEosOhd4QLuE7eQidm6ziCGfhp25OciFcqlPeS9R5nRK6H+p9r4aZtbxDd3QTnbox0r96eXRJOSHLdV2o16VUod84zYHiPyXZcVv+pLaSAAAAAElFTkSuQmCC') 0 0 repeat;
}

.navbar-collapse.in .vk2-navbar-user>li.info-dropdown>a{
	height: 26px; 
	width: 25px; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
}

.navbar-collapse.in .vk2-navbar-user>li.info-dropdown>a{
	height: 26px; 
	width: 100%; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
}

.navbar-collapse.in .vk2-navbar-user>li.user-dropdown>a{
	height: 26px; 
	width: 100%; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
	font-size: 14px;
}

.navbar-collapse.in .vk2-navbar-user>li.dropdown:after{
	display: none;
}

.navbar-collapse.in .navbar-form.vk2Gazetteer{
	margin: 0px 0px 0px 0px;
	padding-top: 0px;
}	



