.mtb-profile-page, .mtb-profile-page > div, .mtb-profile-page > div > div{
	height: 100%;
}

.mtb-profile-page .container{
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	overflow: auto;
}

.mtb-profile-page .container .row > div{
	height: 100%;
}

.map-container{
	width: 100%;
	height: 100%;
}

.ol-attribution{
	padding: 0px;
}

/* Placement and styling of opacity slider */
.map-container .opacity-container{
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 300px;
	z-index: 1000;
	margin-left: -150px;
	margin-right: 150px;
}

.map-container .opacity-container .opacity-slider{
	width: 100%;
}

.map-container .opacity-container .tooltip{
			top: -33px;
			left: 100px;
			display: none;
}

/* Styling for metadata stuff */
table.metadata-record-table, table.metadata-record-table table, table.metadata-record-table tbody, table.metadata-record-table fieldset,
table.metadata-record-table tr, table.metadata-record-table div, table.metadata-record-table legend {
	display: block;
}

.col-header-titel{
	display: block !important;
}

/* table header */
.metadata-record-table tbody > tr > td{
	background-image: url('/vkviewer/static/images/pattern_hr.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
}

.metadata-title{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	color: #333;
}

.metadata-record-table .thumbnail{
	max-height: 100px;
	max-width: 100px;
	border: 1px solid #B3D4E6;
	margin: 5px;
	padding: 0px;
}

fieldset.content > legend {
	border-bottom: none;
}

fieldset.content > legend > a{
	font-size: 12px;
	position: relative;
	float: left;
}
/* content table */
.metadata-record-table-content{
	width: 100%;
}

.metadata-record-table-content tbody > tr {
	border-bottom: 1px solid #B3D4E6;	
}

.metadata-record-table-content tbody > tr > td{
	background-image: none;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;	
	width: 500px;
}

.metadata-record-table-content tbody > tr > td > a{
	word-wrap: break-word;
	overflow: hidden;
}

.metadata-record-table-content tbody > tr > td > div{
	color: #999;
	line-height: 1.4em;
}

.metadata-record-table-content tbody > tr > td div.el > label{
	float: left;
	margin-right: 5px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #444444;	
}

.metadata-record-table-content tbody > tr > th{
	width: 250px;
	color: #333;
	font-size: 12px;
	font-weight: normal;
}

.metadata-record-table-content tbody > tr {
	padding: 5px;
}