/**
 * Styles which are matching the template pages 
 */
/* Page: Change password */
.container.change-pw{
	min-width: 200px;
	max-width: 600px; 
}

/* Page: Login screen */
div.login-screen{
	max-width: 600px;
}

.form-user-register .form-group.double-input-field{
	position: relative;
	float: left;
	width: 100%;
}

.form-user-register .form-group.double-input-field > label{
	width: 100%;
}

.form-user-register .form-group.double-input-field > input{
	max-width: 49%;
	display: inline;
}

.form-user-register .form-group.double-input-field .right{
	float: right;
}

.page-container.full-display{
	width: 100%;
	height: 100%;
}

/* Page: Forget password */
div.reset-pw{
	max-width: 600px;
	max-height: 400px;
}

/* Page: Forget password reset successfully */
div.reset-pw-success{
	max-width: 600px;
}

.reset-pw-container{
	padding: 10px;
}

/* Page: Error message */
div.error{
	max-width: 600px;
}

.error-container{
	padding: 10px;
}

/* Page: Faq */
div.faq{
	padding-left: 10px;
	padding-right: 10px;
	height: 800px;
	max-width: 1000px;
}

.panel-group.faq{
	margin: 0px;
    padding: 0px; 
}

.panel-group.faq > h2{
	position: relative;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	color: #c00;
	font-style: italic;
	font-weight: normal;
	line-height: 110%;
}

.panel-group.faq > h3{
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

/* Page: Contact */
.vk2-fancybox-wrapper.contact-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.contact-page-container .fancybox-inner{
	width: 615px !important;
}

.contact-formular{
	width: 600px;
}
		
.contact-formular .form-group.right{
	float: right
}

/* Page: Impressum */
.vk2-fancybox-wrapper.impressum-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.impressum-page-container .fancybox-inner{
	width: 615px !important;
}

.vk2ImpressumPageContainer {
    height: 500px;
    width:  600px;
    line-height: 160%;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 0.92em;
}

.vk2ImpressumPageContainer .text{
	width: 600px;
}
/* Page: Project */
.vk2-fancybox-wrapper.project-page-container{
	width: 865px;
	height: auto;
}

div.vk2PartnerPageContainer h2{
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 1.33em;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	font-style: italic;
}

div.vk2PartnerPageContainer h3{
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 1.33em;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	font-style: italic;
}

.vk2PartnerPageContainer .list{
	margin-left: 20px;
	list-style-type: disc;
}

/* Login page */
.vk2-fancybox-wrapper.login-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.login-page-container .fancybox-inner{
	width: 615px !important;
}

/* Georeference history page */
.vk2-fancybox-wrapper.georef-history-page-container{
	width: 715px !important;
	height: auto;
}

.vk2-fancybox-wrapper.georef-history-page-container .fancybox-inner{
	width: 665px !important;
}

/* Change pw page */
.vk2-fancybox-wrapper.pw-change-page-container{
	width: 565px !important;
	height: auto;
}

.vk2-fancybox-wrapper.pw-change-page-container .fancybox-inner{
	width: 515px !important;
}