/* in case of responsive breakpoint behaviour display overflow */
.georeference-validate.page-container{
	overflow-y: auto;
}

/* container and bootstrap row which contain the both map object */
.georeference-validate-container{
	width: 100%;
	height: 95%;
	margin-left: 0px;
}

.outer-map-container{
	height: 100%;
}
		
/* unreferenced map container */
.unreferenced-map{
	width: 100%;
	height: 100%;
	background: white;
}

/* validation map container */
.georeferenced-map{
	width: 100%;
	height: 100%;
}
		
/* open error dialog button placement*/
.open-error-dialog{
	position: absolute;
	top: 100px;
	left: 0px;
}
