.vk2GeoreferenceMtbStartPage{
	width: 100%;
	height: 100%;
}

.vk2GeoreferenceMtbStartPage .georeferenceMap{
	width: 100%;
	height: 100%;
}

.vk2GeoreferenceToolsPanel{
	border: 1px solid black;
	z-index: 1000;
}


