/* style for georeference points */
.georef-point-container{
	height: 40px !important;
	width: 150px !important;
	font-size: 20px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 20px !important;
	padding-right: 15px !important;
	z-index: 10000;
}

.georef-point-container{
	position:absolute;
	top: 100px;
	left: 100px;
	display: none;
}

/* styling and position of the activate georefernce control element */
.vk2GeorefControl.vk2SBControlBtn{
	position: absolute;
	top: 160px;
	left: -40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2GeorefControl.vk2SBControlBtn .vk2SidebarIcon{
	background-position: -120px 0;
}