.slubcolor{
	color: #c00;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
    margin: 0px;
    padding: 0px; 
}

h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

h2{
	position: relative;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	color: #c00;
	font-style: italic;
	font-weight: normal;
	line-height: 110%;
}