/* always background color white for the map viewport */
.ol-viewport{
	background-color: white;
}

/* preventing ol3 to display +/- in zoom control twice */
.ol-zoom-in:before {
	content: "";
}
		
.ol-zoom-out:before {
	content: "";
}

/* styles for own ol3 control elements */
.ol-layerspy{
	position: absolute;
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	padding: 2px;
	top: 95px;
	left: .5em;
}
	  		
.ol-layerspy a{
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 22px;
	width: 22px;
	background-color: rgba(0,60,136,0.5);
	border-radius: 2px;
}
	  		
.ol-layerspy a:hover{
	background: rgba(0,60,136,0.7);
}
	  		
.rotate-north {
    position: absolute;
    top: 125px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
      
.ol-touch .rotate-north {
    top: 80px;
}
      
.rotate-north a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    background: rgba(0,60,136,0.5);
}

.ol-touch .rotate-north a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
}
     
.rotate-north a:hover {
    background: rgba(0,60,136,0.7);
}

/** ol3 overrides main page */
.olMap .ol-attribution {
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: 350px;
	padding: 0px;
}

/* Position of ol control elements (with fullscreen) */
.olMap .ol-attribution .ol-attribution-bing-tos{	padding-top: 0px; }
.olMap .ol-zoom {top: 100px;}
.olMap .ol-full-screen {	top: 100px;	right: 430px;}
.olMap .ol-layerspy { left: .5em; top: 150px; }
.olMap .rotate-north { left: .5em; top: 177px; }

.olMap:-webkit-full-screen .ol-attribution {bottom: 0px;}
.olMap:-moz-full-screen .ol-attribution {bottom: 0px;} 
.olMap:fullscreen .ol-attribution {bottom: 0px;}
.olMap:-webkit-full-screen .ol-zoom {top: .5em;}
.olMap:-moz-full-screen .ol-zoom {top: .5em;} 
.olMap:fullscreen .ol-zoom {top: .5em;} 
.olMap:-webkit-full-screen .ol-full-screen {right: .5em; top: .5em;}
.olMap:-moz-full-screen .ol-full-screen {right: .5em; top: .5em;}
.olMap:fullscreen .ol-full-screen {right: .5em; top: .5em;}
.olMap:-webkit-full-screen .ol-layerspy { top: 58px; }
.olMap:-moz-full-screen .ol-layerspy { top: 58px; } 
.olMap:fullscreen .ol-layerspy { top: 58px; }
.olMap:-webkit-full-screen .rotate-north { top: 85px; }
.olMap:-moz-full-screen .rotate-north { top: 85px; } 
.olMap:fullscreen .rotate-north { top: 85px; }