/* basic element setup */
html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	overflow: hidden; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	background: transparent;
}

body { 
	padding: 0; 
	font-weight: 300; 
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { 
	margin: 0; 
	padding: 0 
}

h3 { 
	display: block; 
	font-size: 1.17em; 
	-webkit-margin-before: 1em; 
	-webkit-margin-after: 1em; 
	-webkit-margin-start: 0; 
	-webkit-margin-end: 0; 
	font-weight: bold; 
}

h2 { 
	position: relative; 
	color: #f33; 
	font-style: italic; 
	font-weight: normal; 
	line-height: 110% 
}

.slubcolor { color: #f33 }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 768px) { }
