.ui-autocomplete{
	width: 25em;
	z-index: 2000;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: white url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.vk2Gazetteer > div, div.button{
	position: relative;
	float: left;
}

.vk2GazetteerSearchDiv{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    width: 100%;
}

.gazetteer-submit-button{
	margin: 5px;
}

.vk2GazetteerSearchInput{
    width: 80%;
    margin: 10px;
}

