/* header styling */
.georeference-header-container {
	height: 85px;
	width: 100%;
	background: rgba(255,51,51, 0.9);
	border-bottom: 0 none;
	z-index: 5000;
	overflow: hidden;
}

.georeference-header-container > h1 {
	color: #fff;
	font-size: 1.6em;
	line-height: 79px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	padding: 15px 15px;
	float: left;
}

.georeference-header-container > h1 .vk2georef-brand {
  position: relative;
  display: block;
  height: 55px;
  width: 290px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  padding: 0 ;
  margin: 0 10px 0 0;  
  background: url('/vkviewer/static/images/georefLogo.svg') no-repeat 0 0;
  background-size: 290px 55px;
  float: left;
}

/* .georeference-header-container > h1:before { content: "+"; } */

.georef-validate-menu { padding: 25px 20px 25px 25px; }
.georef-validate-menu .btn { border-radius: 0; border: 1px solid #fff; background: transparent; color: #fff; text-transform: uppercase; font-size: 12px; }
.georef-validate-menu .btn-submit { background: #fff; color: #f33; font-weight: 500; margin-left: 10px; }
.georef-validate-menu .btn:hover { background: rgba(255,255,255,0.3); color: #fff; }






/* in case of responsive breakpoint behaviour display overflow */
.georeference-validate.page-container{
	overflow-y: auto;
	padding: 0;
}

/* container and bootstrap row which contain the both map object */
.georeference-validate-container{
  position: absolute;
  top: 95px;
  bottom: 45px;
  left: 20px;
  right: 20px;
}

.georeference-validate-container .map-container{
  border: 3px solid #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);

}

.georeference-validate-container .map-container .ol-viewport { background: #ccc; }

.outer-map-container{
	height: 100%;
}
		
/* unreferenced map container */
.unreferenced-map{
	width: 100%;
	height: 100%;
	background: white;
}

/* validation map container */
.georeferenced-map{
	width: 100%;
	height: 100%;
}

/* Placement and styling of opacity slider */



.georeferenced-map .opacity-container {
  position: absolute;
  top: 150px;
  left: 30px;
  background: rgba(255,255,255,0.4);
  height: 75px;
  width: 22px;
  padding: 0 13px;
  z-index: 900;
}

.georeferenced-map .opacity-slider .slider { top: 10px; right: 6px; }
		
/* open error dialog button placement*/
.open-error-dialog{
	position: absolute;
	top: 100px;
	left: 0px;
}

.open-error-dialog .icon{
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 8px;
}

.open-error-dialog .icon:after{
	content: "Err";
}

/** style of the form- and input-elements*/
.georeference-tools-container{
  position:  absolute;
  top: 110px;
  left: 28px;
}
.olMap:-webkit-full-screen .georeference-tools-container {left: 1em !important; }
.olMap:-moz-full-screen .georeference-tools-container {left: 1em !important; } 
.olMap:fullscreen .georeference-tools-container {left: 1em !important; } 

.georeference-tools-container .georeference-tools-handler{	
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	cursor: default;
	border-radius: 0;
background: rgba(255,255,255,0.4);
padding: 3px;
	width: 28px;
	height: 28px;
}

.georeference-tools-container .georeference-tools-handler .icon {	
  position: relative;
  background: rgb(0,177,158) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjIgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy40IDEwLjdjMS40LTEuNCAxLjctMy41LjgtNS4ybC0yLjIgMi4yaC0xLjh2LTEuOWwyLjItMi4zYy0xLjctLjktMy44LS42LTUuMi44LTEuNCAxLjQtMS43IDMuNS0uOSA1LjJsLTYuOCA2LjhjLS41LjUtLjYgMS40IDAgMiAuNS41IDEuNC41IDEuOSAwbDYuOC02LjhjMS43LjkgMy44LjYgNS4yLS44eiIvPjwvc3ZnPg==') no-repeat 0 0;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  display: block;
  cursor: pointer;
}

.georeference-tools-container .georeference-tools-handler.open .icon { background-color: rgb(19,141,141); }
.georeference-tools-container .georeference-tools-handler.open:after { position: absolute; bottom: -6px; left: 10px; width: 0; height: 0; border: 4px solid rgb(19,141,141); border-color: rgb(19,141,141) transparent transparent transparent; border-bottom-width: 0;  content: ""; }

.georeference-tools-container .georeference-tools-inner-container{
  position: absolute;
  top: 35px;
  left: 0;
  background: rgba(255,255,255,0.4);
  padding: 3px;
  display: none;
}

.georeference-tools-container .tool > div {
 position: relative;
 width: 22px;
 height: 22px;
 display: block;
 white-space: nowrap;
 background-color: rgb(0,177,158);
 margin-top: 1px;
 background-size: 22px 22px;
 cursor: pointer;
}


#noneToggle { background: rgb(0,177,158) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjIgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik00IDR2N2gxdi01aDEydjhoLTF2MWgydi0xMXpNNyA4LjNjMC0uNi41LTEuMSAxLjEtMS4xLjYgMCAxLjEuNSAxLjEgMS4xdjQuNWwzLjMgMS4xYy43LjIuOSAxLjEuNyAxLjlsLS43IDQuMmgtNS44bC0yLjktNC41Yy0uNC0uNi0uNC0xLjUuMy0xLjVzMS41LjMgMi45IDIuNnYtOC4zeiIvPjwvc3ZnPg==') no-repeat 0 0; }
#pointToggle { background: rgb(0,177,158) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjIgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNi41IDEwbC0zLjUtNyA3IDMuNS0yLjguN3oiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTMuNSA4Yy0zLjEgMC01LjUgMi41LTUuNSA1LjUgMCAzLjEgMi41IDUuNSA1LjUgNS41IDMuMSAwIDUuNS0yLjUgNS41LTUuNXMtMi41LTUuNS01LjUtNS41em0yLjUgNmgtMnYyaC0xdi0yaC0ydi0xaDJ2LTJoMXYyaDJ2MXoiLz48L3N2Zz4=') no-repeat 0 0; }
#dragToggle { background: rgb(0,177,158) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjIgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik05IDEyaDh2MWgtOHpNMTAgMTQuOWwtMy0yLjQgMy0yLjV6TTkgMTJoOHYxaC04ek0xMCAxNC45bC0zLTIuNCAzLTIuNXpNMTcgMTBsMyAyLjUtMyAyLjR6TTEzIDloMXY4aC0xek0xNiAxNmwtMi41IDMtMi41LTN6TTExIDlsMi41LTMgMi41IDN6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik02LjUgMTBsLTMuNS03IDcgMy41LTIuOC43eiIvPjwvc3ZnPg==') no-repeat 0 0; }
#deleteToggle { background: rgb(0,177,158) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjIgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNi41IDkuOWwtMy41LTYuOSA3IDMuNC0yLjguN3oiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTMuNSA4Yy0zLjEgMC01LjUgMi40LTUuNSA1LjVzMi41IDUuNSA1LjUgNS41YzMuMSAwIDUuNS0yLjUgNS41LTUuNSAwLTMuMS0yLjUtNS41LTUuNS01LjV6bTIuNSA2aC01di0xaDV2MXoiLz48L3N2Zz4=') no-repeat 0 0; }

.georeference-tools-container .tool:hover > div { background-color: rgb(19,141,141) !important; }
.georeference-tools-container .tool .active { background-color: #f33 !important; }
.georeference-tools-container .tool .tool-title { position: absolute; left: 30px; top: 0; background: rgb(19,141,141); color: #fff; display: none; padding: 2px 5px; font-size: 11px; font-weight: 700; height: 22px; }
.georeference-tools-container .tool .tool-title:before { position: absolute; left: -5px; top: 6px; width: 0; height: 0; content: ""; border: 5px solid rgb(19,141,141); border-color: transparent rgb(19,141,141) transparent transparent; border-left-width: 0;  }
.georeference-tools-container .tool:hover .tool-title { display: block; }

/* Loading screen styling*/
.georefLoadingScreen{
	background-color:rgb(173,167,158);
    opacity: 0.9;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: none;
	top: 0px;
	left: 0px;
	position: fixed;
}


.georefLoadingScreen .centerLoading{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-right: -100px;
	margin-top: -50px;
	margin-bottom: -50px;
	width: 200px;
	height: 100px;
}

