.map-profile-page .container .row.header .header-btn{
	float: right;
	padding: 10px 10px 5px 5px;
}


.map-profile-page { height: 100%; }
.map-profile-page .container { height: 100%; width: 100%; margin: 0; }

.map-profile-page h1 { color: #f33; font-weight: 100; margin: 0; }
.map-profile-page h3#singlemapview-title { margin: 5px 0 20px 0; color: #999; font-size: 14px; }
.map-profile-page .header-btn .btn, .map-profile-page .description a { border-radius: 0; border: 1px solid rgba(0, 154, 139, 1); border-width: 0 1px 1px 0; background: rgb(0,177,158); color: #fff; width: 200px; padding: 5px 10px; height: 30px; }
.map-profile-page .description a { position: absolute; top: -60px; right: 200px; }

.map-profile-page .metdata-col { width: 100%; padding: 0; margin: -4px; }
.map-profile-page .thumbnail-col { display: none; }
/*
.map-profile-page .metadata-content-row, .map-profile-page .unique-id { border-bottom: 1px solid #eee; padding: 3px; display: block; }
.map-profile-page .metadata-content-row > div { font-size: 13px; display: inline-block; }
.map-profile-page .metadata-content-row .label { color: #666; text-align: left; font-size: 13px; }
.map-profile-page .metadata-content-row .label:after { content: ":"; }
*/

.map-profile-page .description h3 { margin: 0 4px 10px 4px; }

.map-profile-page .metadata-content-row, .map-profile-page .unique-id { display: inline-block; padding: 3px 10px; background: rgba(0,177,158,0.2); margin: 4px; color: #555; }
.map-profile-page .metadata-content-row > div { display: inline; font-size: 13px; margin: 0; padding: 0; }
.map-profile-page .metadata-content-row .label { font-weight: 500; color: #555; }
.map-profile-page .metadata-content-row label { margin: 0 4px 0 0; font-weight: inherit }
.map-profile-page .metadata-content-row a { color: rgba(20, 124, 112, 1); }
.map-profile-page .metadata-content-row .label:after { content: ":\00a0"; }


.map-profile-page .zoomify-container { box-shadow: 0 1px 2px rgba(0,0,0,0.3); border: 3px solid #fff; margin-top: 20px; }
.map-profile-page .zoomify-container .ol-viewport { background: #eee }