

/* Styling of the main body elements */
.vk2WelcomePageBody { padding: 30px 30px 10px 30px; }
.vk2WelcomePageBody .leftContainer { margin: 10px 0 50px 0;  }
.vk2WelcomePageBody .rightContainer .heading br { display: none; }



/* Styling georeference progress  */
.vk2WelcomePageBody .vk2GeoreferenceProgressText { position: relative; width: 100%; height: 30px; font-size: 0.85em; font-weight: 200; color: #999; }
.vk2WelcomePageBody .vk2GeoreferenceProgressText .content:after { position: absolute; left: 25%; bottom: 8px; height: 0; width: 0; margin-left: -5px; border: 5px solid #ccc; border-width: 5px 5px 0 5px; border-color: #ccc transparent transparent transparent; content: ""; }
.vk2WelcomePageBody .vk2GeoreferenceProgressBar { width: 100%; height:3px; overflow:hidden; background: #ccc; }
.vk2GeoreferenceProgressBar .done { height: 100%; margin-right: -1px; border-right: 1px solid #FFFFFF; background-color: #f33; }
.vk2GeoreferenceProgressBar .todo { display: none; }

/* Footer styling */
.footerContainer { margin: 50px 0 5px 0; }

.SkipPageContainer, .RankingContainer { margin: 0 30px; }

.vk2GeoreferenceRanking p { font-size: 11px; color: #999; }
.vk2GeoreferenceRanking ol { list-style-position: inside; }
.vk2GeoreferenceRanking ol li { float: left; margin-right: 6px; color: #999; font-weight: 800; }
.vk2GeoreferenceRanking ol li span { color: #999; font-weight: 300; }
.closeContainer { opacity: 0.6; font-size: 11px; }
.closeContainer:hover { opacity: 1; }
.closeContainer a { color: rgb(19,141,141); }

.SkipPageContainer { margin-top: 30px; opacity: 0.6; border-top: 1px dotted #ccc; padding-top: 5px; font-size: 11px; cursor: pointer; }
.SkipPageContainer:hover { opacity: 1; }