/** positioning */
.olMap .layermanagement-container {
	position: absolute;
	top: 80px;
	bottom: 130px;
	right: 10px;
	display: none;

}
.olMap:-webkit-full-screen .layermanagement-container{bottom: 10px;}

/** size / basic style */
.layermanagement-container{
	z-index: 2000;
	background: rgba(255,255,255,0.9);
	border: 1px solid rgba(0,0,0,0.3);
	width: 400px;
	height: 450px;
	padding: 5px;
}

/** styling heading */
.layermanagement-container .heading .header-label{
	font-size: 14px;
	line-height: 1.428571429;
	font-weight: 300;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

/** styling body */
.layermanagement-body {
	overflow-y: auto;
	height: 210px;
	margin-top: 5px;
}
.layermanagement-body > li {
	list-style: none;
	border: 1px solid #009fe3;
	padding: 5px;
}

.layermanagement-record .minimize{
	cursor: pointer;
	width: 100%;
	height: 60px;
}

.layermanagement-record .minimize > div, .layermanagement-record .minimize > a{
	height: 60px;
}

.layermanagement-record .thumbnail{
	position: relative;
	float: left;
	width: 60px;
	margin-bottom: 0px;
}

.layermanagement-record .metadata-container {
	position: relative;
	float: left;
	width: 200px;
	padding-left: 5px;
}

.layermanagement-record .metadata-container > h4{
	margin-bottom: 5px;
}

.layermanagement-record .control-container {
	position: relative;
	float: right;
	width: 40px;
}

.layermanagement-record .control-container > button {
	float: right;
}

.layermanagement-record .control-container .minimize-tool{
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 1.14em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 1.0em;
	width: 1.375em;
	line-height: .4em;
	/* background-color: #7b98bc; */
	background-color: rgba(0,60,136,0.5);
	border: none;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

.control-container .minimize-tool:hover, .control-container .minimize-tool:focus{
	background-color: rgba(0,0,0,0.5);
}

.layermanagement-record .control-container .minimize-tool.open-maximize {
	margin-top: 8px;
}

/** maximize view */
.layermanagement-record .maximize-list {
	width: 100%;
	height: 50px;
	margin-top: 5px;
	padding-left: 0px;
	margin-bottom: 0px;
}

.layermanagement-record .maximize .opacity-container{
	padding: 5px 15px 5px 15px;
}

.layermanagement-record .maximize .timestamp-container {
	width: 100%;
	position: relative;
	float: left;
	padding: 10px 5px 5px 5px;
}

.layermanagement-record .maximize .timestamp-container > a{
	position: relative;
	float: left;
	margin-right: 5px;
}

/* draggable btn */
.drag-btn {
	width: 100%;
	height: 10px;
	background: red;
}

