/* 
	Generic stuff 
*/

.spatialsearch-container { 
	position: absolute; 
	top: 85px; 
	right: -3px; 
	bottom: 25px; 
	width: 420px; 
	z-index: 1000; 
	display: block; 
	background: #fff; 
	/* @alternate */
	background: rgba(255,255,255,0.9); 
	border: 1px solid rgba(0,0,0,0.3); 
}

.spatialsearch-content-panel {
	width: 100%;
	height: 100%;
}

.spatialsearch-content-panel .body-container{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.spatialsearch-content-panel .body-container > div {
	position: relative;
	float: left;
	padding: 10px;
	width: 100%;
}