.ui-dialog .ui-state-error { padding: .3em; }
.ui-dialog{font-size: 75%;}
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-front {
	z-index:1000000 !important;
}
.ui-button-text {
	font-size: 10px;
}
.olControlLayerSwitcher .layersDiv {
	background-color: rgba(70, 70, 70, 0.75) !important;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	padding: 5px 10px;
}

#html, body {
	font-family: Arial;
}

#map_base_div {
	width: 48%;
	position: absolute;
	right: 1px;
	height: 100%;
	border: 1px solid black;
}

#map_result_div {
	margin-left:20px !important;
	position: absolute;
	left: 1px;
	width: 48%;
	height: 100%;
	border: 1px solid black;
}

#klappLink {
	font-size: small;
	}
 
#toggleAnleitung {
	font-size: small;
}

#GoPlace {
	float: right;
}

#editPlace{
	font-size: small;
}

#fieldname{
	font-size: small;
}

#selector{
	font-size: small;
}

#comment{
	font-size: small;
}

#notesOverview{
	font-size: small;
}

#howto{
	font-size: 75%;
}

.map_result_tag{
	position: absolute;
	top: 40px;
	left: 10%;	
}
.map_base_tag{
	position: absolute;
	top: 40px;
	right: 10%;
}
/* GeorefToolsBar */
.vk2GeorefToolsPanel{
    z-index: 1000;
    width: 220px;
    height: 200px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 1px;
}

/* georeference select styling */
.georefToolsLbl{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 1px;
	margin-right: 1px;
}

.vk2GeorefToolsPanel .controlsList{
	list-style-type: none;
	-webkit-padding-start: 10px;
}

/* georeference btn styling */
.vk2GeorefToolsPanel .vk2GeorefToolsBtn{
	width:200px;
}