.gazetteersearch-container{
	height: auto;
}

.gazetteersearch-container .form-group { margin: 0; }

.gazetteersearch-container .gazetteersearch-input {
	width: 100%;
	position: relative; 
	float: left;
	border-radius: 0;
	font-weight: 300;
}

.gazetteersearch-container .gazetteersearch-input:focus{
	border-color: #766; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2); 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2);
}

.gazetteersearch-container .gazetteersearch-input.loading{
	background: url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;	
	background-color: white;
}

.gazetteersearch-container .gazetteersearch-submit {
	width: 50px;
	position: relative; 
	float: left;
	border-radius: 0;
	background: #ccc;
}

.gazetteersearch-container .gazetteersearch-submit:before { position: absolute; top: 10px; left: 0; width: 0; height: 0; content: "sf"; border: 5px solid #fff; border-color: transparent transparent transparent #cfc; border-left-width: 0; }

/** overwrite size of list */
ul.ui-autocomplete{
	width: 300px !important;
}




