.timeslider-container{
	height: auto;
	margin-bottom: 20px;
}

.timeslider-container .slider-container{
	padding: 10px;
}


.timeslider-container .slider .tooltip{
	margin-top: 20px;
	opacity: 1;
}

.timeslider-container .slider .tooltip.min-value{
	margin-left: -13px;
	left: 0%;
}

.timeslider-container .slider .tooltip.max-value{
	left: 100%;
	margin-left: -13px;
}