/* basic element setup */
html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	overflow: hidden; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

body { 
	padding: 0; 
	font-weight: 300; 
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { 
	margin: 0; 
	padding: 0 
}

h3 { 
	display: block; 
	font-size: 1.17em; 
	-webkit-margin-before: 1em; 
	-webkit-margin-after: 1em; 
	-webkit-margin-start: 0; 
	-webkit-margin-end: 0; 
	font-weight: bold; 
}

h2 { 
	position: relative; 
	color: #f33; 
	font-style: italic; 
	font-weight: normal; 
	line-height: 110% 
}

.slubcolor { color: #f33 }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 768px) { }
.olControlAttribution{
	bottom: 25px !important;
	left: 3px !important;
}

.olControlMousePosition{
	bottom: 40px !important;
	right: 20px !important;
}

/* position of the OL zoom/pan control */
.olControlPanZoomBar{
    top: 80px !important;
}

div.olControlZoom { 
	top: 115px !important; 
	background: rgba(255,255,255,0.6) !important;
}

div.olControlZoom a { 
	background: rgb(0,177,158) !important; 
	border-radius: 21px; 
	margin: 5px 3px !important; 
	font-weight: 100 !important; 
	border: 1px solid #fff !important; 
	line-height: 18px !important;
}

.olImageLoadError { 
	/* when OL encounters a 404, don't display the pink image */
	display: none !important;
}

/* always background color white for the map viewport */
.ol-viewport{
	background-color: white;
}

/* preventing ol3 to display +/- in zoom control twice */
.ol-zoom-in:before {
	content: "";
}
		
.ol-zoom-out:before {
	content: "";
}

/* styles for own ol3 control elements */
.ol-layerspy{
	position: absolute;
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	left: 8px;
	padding: 2px;
	top: 95px;
}
	  		
.ol-layerspy a{
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 22px;
	width: 22px;
	background-color: rgba(0,60,136,0.5);
	border-radius: 2px;
}
	  		
.ol-layerspy a:hover{
	background: rgba(0,60,136,0.7);
}
	  		
.rotate-north {
    position: absolute;
    top: 125px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
      
.ol-touch .rotate-north {
    top: 80px;
}
      
.rotate-north a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    background: rgba(0,60,136,0.5);
}

.ol-touch .rotate-north a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
}
     
.rotate-north a:hover {
    background: rgba(0,60,136,0.7);
}/* jquery styles */
.ui-dialog .ui-state-error { padding: .3em; }

/* disables the background moving of the page in case of an overlay */
.fancybox-lock{
	margin-right: 0 !important;
}

.fancybox{
    z-index: 3000;
}

.vk2-fancybox-wrapper .fancybox-skin{
	padding: 25px !important;	
}

/* restyle fancyboxes */
.welcomeBox .fancybox-skin, .welcomeBox .fancybox-opened .fancybox-skin { 
	background: transparent; 
	box-shadow:none; 
	-webkit-box-shadow: none; 
}

.welcomeBox .fancybox-skin, .welcomeBox .welcomeBox .fancybox-skin iframe { background: transparent; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url('/vkviewer/static/images/fancybox_sprite.png'); }

.fancybox-close { 
	top: -10px; 
	right: -10px; 
}

.fancybox-overlay { 
	background: #333; 
	/* @alternate */
	background: rgba(35,35,35,0.8); 
	z-index: 3010; 
}

#fancybox-loading div { background: url('/vkviewer/static/images/vkfPreloader.gif') center center no-repeat; }/* defining the bootstrap breakpoint for collapsing */
@media (max-width: 1045px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-inner{
	background-color: #222222;
}

.navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
}/**
 * Styles which are matching the template pages 
 */
/* Page: Change password */
.container.change-pw{
	min-width: 200px;
	max-width: 600px; 
}

/* Page: Login screen */
div.login-screen{
	max-width: 600px;
}

.form-user-register .form-group.double-input-field{
	position: relative;
	float: left;
	width: 100%;
}

.form-user-register .form-group.double-input-field > label{
	width: 100%;
}

.form-user-register .form-group.double-input-field > input{
	max-width: 49%;
	display: inline;
}

.form-user-register .form-group.double-input-field .right{
	float: right;
}

.page-container.full-display{
	width: 100%;
	height: 100%;
}

/* Page: Forget password */
div.reset-pw{
	max-width: 600px;
	max-height: 400px;
}

/* Page: Forget password reset successfully */
div.reset-pw-success{
	max-width: 600px;
}

.reset-pw-container{
	padding: 10px;
}

/* Page: Error message */
div.error{
	max-width: 600px;
}

.error-container{
	padding: 10px;
}

/* Page: Faq */
div.faq{
	padding-left: 10px;
	padding-right: 10px;
	height: 800px;
	max-width: 1000px;
}

.panel-group.faq{
	margin: 0px;
    padding: 0px; 
}

.panel-group.faq > h2{
	position: relative;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	color: #c00;
	font-style: italic;
	font-weight: normal;
	line-height: 110%;
}

.panel-group.faq > h3{
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

/* Page: Contact */
.vk2-fancybox-wrapper.contact-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.contact-page-container .fancybox-inner{
	width: 615px !important;
}

.contact-formular{
	width: 600px;
}
		
.contact-formular .form-group.right{
	float: right
}

/* Page: Impressum */
.vk2-fancybox-wrapper.impressum-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.impressum-page-container .fancybox-inner{
	width: 615px !important;
}

.vk2ImpressumPageContainer {
    height: 500px;
    width:  600px;
    line-height: 160%;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 0.92em;
}

.vk2ImpressumPageContainer .text{
	width: 600px;
}
/* Page: Project */
.vk2-fancybox-wrapper.project-page-container{
	width: 865px;
	height: auto;
}

div.vk2PartnerPageContainer h2{
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 1.33em;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	font-style: italic;
}

div.vk2PartnerPageContainer h3{
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 1.33em;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-Serif;
	font-style: italic;
}

.vk2PartnerPageContainer .list{
	margin-left: 20px;
	list-style-type: disc;
}

/* Login page */
.vk2-fancybox-wrapper.login-page-container{
	width: 665px !important;
	height: auto;
}

.vk2-fancybox-wrapper.login-page-container .fancybox-inner{
	width: 615px !important;
}

/* Georeference history page */
.vk2-fancybox-wrapper.georef-history-page-container{
	width: 715px !important;
	height: auto;
}

.vk2-fancybox-wrapper.georef-history-page-container .fancybox-inner{
	width: 665px !important;
}

/* Change pw page */
.vk2-fancybox-wrapper.pw-change-page-container{
	width: 565px !important;
	height: auto;
}

.vk2-fancybox-wrapper.pw-change-page-container .fancybox-inner{
	width: 515px !important;
}/* 
	main page 
*/
/* body layout */

.main-page.content-container{
	width: 100%;
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.vk2MapPanel{
	position: absolute; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	width: 100%;
	height: 100%;
}

.vk2FooterPanel{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding: 0;
	overflow:hidden;
	background-color:rgb(173,167,158);
    opacity: 0.9;
    z-index:1001;
}

/* map stuff */

#mapdiv  { 
    width:100%; 
    height: 100%;
    background-color:#B3C6D4;
}/* style for georeference points */
.georef-point-container{
	height: 40px !important;
	width: 150px !important;
	font-size: 20px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 20px !important;
	padding-right: 15px !important;
	z-index: 10000;
}

.georef-point-container{
	position:absolute;
	top: 100px;
	left: 100px;
	display: none;
}.georeference-start-container{
	width: 100%;
	height: 100%;
}

.georeference-start-container .georeferenceMap{
	width: 100%;
	height: 100%;
}


/* in case of responsive breakpoint behaviour display overflow */
.georeference-validate.page-container{
	overflow-y: auto;
}

/* container and bootstrap row which contain the both map object */
.georeference-validate-container{
	width: 100%;
	height: 95%;
	margin-left: 0px;
}

.outer-map-container{
	height: 100%;
}
		
/* unreferenced map container */
.unreferenced-map{
	width: 100%;
	height: 100%;
	background: white;
}

/* validation map container */
.georeferenced-map{
	width: 100%;
	height: 100%;
}

/* Placement and styling of opacity slider */
.georeferenced-map .opacity-container{
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 300px;
	z-index: 1000;
	margin-left: -150px;
	margin-right: 150px;
}

.georeferenced-map .opacity-container .opacity-slider{
	width: 100%;
}

.georeferenced-map .opacity-container .tooltip{
			top: -33px;
			left: 100px;
			display: none;
}
		
/* open error dialog button placement*/
.open-error-dialog{
	position: absolute;
	top: 100px;
	left: 0px;
}

.open-error-dialog .icon{
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 8px;
}

.open-error-dialog .icon:after{
	content: "Err";
}.mtb-profile-page, .mtb-profile-page > div, .mtb-profile-page > div > div{
	height: 100%;
}

.mtb-profile-page .container{
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	overflow: auto;
}

.mtb-profile-page .container .row > div{
	height: 100%;
}

.map-container{
	width: 100%;
	height: 100%;
}

.ol-attribution{
	padding: 0px;
}

/* Placement and styling of opacity slider */
.map-container .opacity-container{
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 300px;
	z-index: 1000;
	margin-left: -150px;
	margin-right: 150px;
}

.map-container .opacity-container .opacity-slider{
	width: 100%;
}

.map-container .opacity-container .tooltip{
	top: -33px;
	left: 100px;
	display: none;
}

.reset-georef-map{
	z-index: 100;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 60px;
	right: 15px;
	cursor: pointer;
}

/* Styling for metadata stuff */
table.metadata-record-table, table.metadata-record-table table, table.metadata-record-table tbody, table.metadata-record-table fieldset,
table.metadata-record-table tr, table.metadata-record-table div, table.metadata-record-table legend {
	display: block;
}

.col-header-titel{
	display: block !important;
}

/* table header */
.metadata-record-table tbody > tr > td{
	background-image: url('/vkviewer/static/images/pattern_hr.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
}

.metadata-title{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	color: #333;
}

.metadata-record-table .thumbnail{
	max-height: 100px;
	max-width: 100px;
	border: 1px solid #B3D4E6;
	margin: 5px;
	padding: 0px;
}

fieldset.content > legend {
	border-bottom: none;
}

fieldset.content > legend > a{
	font-size: 12px;
	position: relative;
	float: left;
}
/* content table */
.metadata-record-table-content{
	width: 100%;
}

.metadata-record-table-content tbody > tr {
	border-bottom: 1px solid #B3D4E6;	
}

.metadata-record-table-content tbody > tr > td{
	background-image: none;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;	
	width: 500px;
}

.metadata-record-table-content tbody > tr > td > a{
	word-wrap: break-word;
	overflow: hidden;
}

.metadata-record-table-content tbody > tr > td > div{
	color: #999;
	line-height: 1.4em;
}

.metadata-record-table-content tbody > tr > td div.el > label{
	float: left;
	margin-right: 5px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #444444;	
}

.metadata-record-table-content tbody > tr > th{
	width: 250px;
	color: #333;
	font-size: 12px;
	font-weight: normal;
}

.metadata-record-table-content tbody > tr {
	padding: 5px;
}

/* header design */
.vk2HeaderNavBar { 
	height: 85px; 
	background: #f33; 
	/* @alternate */
	background: rgba(255,51,51,0.9) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAGFBMVEUJAADrOjo+ExLOOjltHhyTJyf/PDqwLCcLq8SYAAAACHRSTlMNDQ0NDQ0NDTiWuKEAAAH/SURBVCjPBcE5g6IwAAbQL4FAm3BomxCZbSOIthwy0yKithGPaXFxZ/7+voffKZV2Owyru0X2M7aLEg3lnOeOOWZFeiNb1gB2kcoJuKmKvO1OX13gx7OXh/TutrT7+32yZ+ALeMqXd7URvTx/7tfAQJpicLB1uqYgybguYovMju3569pv6Eho6oXKYM7KwzMezaNP6tPn6e5JnFv5uZmmLgvT8vosolbiVo+qTjDKjwWdX95sJoz9gxEqt9RrAKcxAXC1nFpYr/Qq1jk82AKjxcGsrccXtHE9xe4Syw7kaOyf+63B1hhmDIRbOjtf8rzIs+T72/E7vJ22Cs+sJbekPD0++hYo2s1mPcxEv91hfdrbrETed1kld26YePNOT1NvcWpp1USqfilNdz2llKMSkQjiShAnWO+ro645yMB/lXDZoePg7TJgHJxM+ZuKXSaIr2V94IB2IDmF0VHWiC6acyCpOibnfwMJuarndq0kNofIxfpSkFW8ohs3Ygavd429RlQhKhvOBsnh/03YQdNI0KGLC6I7A0nEa3VUxRchhocqYhN4/IoUXdLEoUxwJQKObglWMUDUgS8yEosOhd4QLuE7eQidm6ziCGfhp25OciFcqlPeS9R5nRK6H+p9r4aZtbxDd3QTnbox0r96eXRJOSHLdV2o16VUod84zYHiPyXZcVv+pLaSAAAAAElFTkSuQmCC') 0 0 repeat;
	border-bottom: 0 none;
}
	
.vk2HeaderNavBar .navbar-brand { 
	width: 250px; 
	height: 60px; 
	border-right: 1px dotted #fff; 
	margin-top: 12px; 
	display: block; 
	overflow: hidden; 
	text-indent: 200%; 
	white-space: nowrap; 
	background: url('/vkviewer/static/images/vkf2Logo.svg') no-repeat 0 0; 
	background-size: contain; 
}

/* Gazeetteer */
.vk2Gazetteer { 
	margin: 12px 250px; 
	position: relative; 
	height: 40px; 
	padding: 10px 20px;
}

.vk2Gazetteer .form-group { width: 100%; }

.vk2GazetteerSearchInput { 
	position: relative; 
	width: 100%; 
	border-radius: 0; 
	border: 3px solid #a22; 
	font-weight: 300;
}

.vk2GazetteerSearchInput:focus { 
	border-color: #766; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2); 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2); 
}

.gazetteer-submit-button { display: none; }

.ui-autocomplete{
	width: 25em;
	z-index: 2000;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: white url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* User Login and Controls */
.vk2-navbar-user { 
	width: 250px; 
	border-left: 1px dotted #fff; 
	height: 60px; 
	margin-top: 12px; 
	padding: 12px 0 0 20px; 
}

.vk2-navbar-user>li.dropdown { margin: 0 6px; }

.vk2-navbar-user>li.dropdown>a { 
	height: 26px; 
	width: 25px; 
	box-shadow: 1px 1px 0 rgba(0,0,0,0.5); 
	overflow: hidden; 
	background: #a33 url('/vkviewer/static/images/userNavSprite.png') 0 0 no-repeat; 
	padding: 0; 
}

.vk2-navbar-user>li.user-dropdown>a { 
	width: 130px; 
	color: #fff; 
	padding-left: 30px; 
	font-size: 0.8em; 
	line-height:25px; 
}

.vk2-navbar-user>li.info-dropdown>a { 
	text-indent: 100%; 
	white-space: nowrap;
}

.vk2-navbar-user>li.info-dropdown>a { background-position: 0 0; }
.vk2-navbar-user>li.user-dropdown>a { background-position: -25px 0; }

.vk2-navbar-user>li.info-dropdown>a:hover { 
	background-color: #076; 
	background-position: 0 -26px; 
}

.vk2-navbar-user>li.user-dropdown>a:hover { 
	background-color: #076; 
	background-position: -25px -26px; 
}

.vk2-navbar-user>li.dropdown:after { 
	position: absolute; 
	left: 7px; 
	bottom: -6px; 
	content: ""; 
	height: 0; 
	width: 0; 
	border: 6px solid #a33; 
	border-width: 6px 6px 0 6px; 
	border-color: #a33 transparent transparent transparent; 
}

.vk2-navbar-user .dropdown:hover .dropdown-menu { display: block; }
.vk2-navbar-user .dropdown .dropdown-menu {margin-top: 5px;}

/* Language switcher */
.langswitch { 
	position: absolute; 
	top: 24px; 
	right: 20px; 
	list-style-type: none; 
}

.langswitch li { 
	width: 16px; 
	height: 11px; 
	overflow: hidden; 
	padding: 0; 
	margin: 0 0 6px 0; 
}

.language_switcher { 
	position: relative; 
	float: left; 
	height: 11px; 
	width: 16px; 
	display: block; 
	overflow: hidden; 
	text-indent: -9000px; 
	background: url('/vkviewer/static/images/flags.png') no-repeat 
}

.language_switcher.switch_de { background-position: 0 0 }

.language_switcher.switch_en { background-position: 0 -11px }

/* Response behavior */
.navbar-toggle {
	margin-right: 45px;
	margin-top: 22px;
	padding: 9px 10px;
	border: 1px solid transparent;
	border-color: #333;
	border-radius: 4px;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse.in{
	background: #f33; 
	/* @alternate */
	background: rgba(255,51,51,0.9) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAGFBMVEUJAADrOjo+ExLOOjltHhyTJyf/PDqwLCcLq8SYAAAACHRSTlMNDQ0NDQ0NDTiWuKEAAAH/SURBVCjPBcE5g6IwAAbQL4FAm3BomxCZbSOIthwy0yKithGPaXFxZ/7+voffKZV2Owyru0X2M7aLEg3lnOeOOWZFeiNb1gB2kcoJuKmKvO1OX13gx7OXh/TutrT7+32yZ+ALeMqXd7URvTx/7tfAQJpicLB1uqYgybguYovMju3569pv6Eho6oXKYM7KwzMezaNP6tPn6e5JnFv5uZmmLgvT8vosolbiVo+qTjDKjwWdX95sJoz9gxEqt9RrAKcxAXC1nFpYr/Qq1jk82AKjxcGsrccXtHE9xe4Syw7kaOyf+63B1hhmDIRbOjtf8rzIs+T72/E7vJ22Cs+sJbekPD0++hYo2s1mPcxEv91hfdrbrETed1kld26YePNOT1NvcWpp1USqfilNdz2llKMSkQjiShAnWO+ro645yMB/lXDZoePg7TJgHJxM+ZuKXSaIr2V94IB2IDmF0VHWiC6acyCpOibnfwMJuarndq0kNofIxfpSkFW8ohs3Ygavd429RlQhKhvOBsnh/03YQdNI0KGLC6I7A0nEa3VUxRchhocqYhN4/IoUXdLEoUxwJQKObglWMUDUgS8yEosOhd4QLuE7eQidm6ziCGfhp25OciFcqlPeS9R5nRK6H+p9r4aZtbxDd3QTnbox0r96eXRJOSHLdV2o16VUod84zYHiPyXZcVv+pLaSAAAAAElFTkSuQmCC') 0 0 repeat;
}

.navbar-collapse.in .vk2-navbar-user>li.info-dropdown>a{
	height: 26px; 
	width: 25px; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
}

.navbar-collapse.in .vk2-navbar-user>li.info-dropdown>a{
	height: 26px; 
	width: 100%; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
}

.navbar-collapse.in .vk2-navbar-user>li.user-dropdown>a{
	height: 26px; 
	width: 100%; 
	box-shadow: none; 
	background: transparent;
	overflow: visible; 
	padding: 0; 
	text-indent: 0%;
	color: #fff;
	font-size: 14px;
}

.navbar-collapse.in .vk2-navbar-user>li.dropdown:after{
	display: none;
}

.navbar-collapse.in .navbar-form.vk2Gazetteer{
	margin: 0px 0px 0px 0px;
	padding-top: 0px;
}	

.navbar-collapse.in .vk2-navbar-user{
	width: 100%;
	padding: 20px 0 0 20px;
	height: auto;	
}

.navbar-collapse.in .vk2-navbar-user>li.info-dropdown>ul{
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
}

.navbar-collapse.in .vk2-navbar-user>li.user-dropdown>ul{
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
}

/* Footer styling */

.vk2FooterPanel { 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%;
	height: 25px; 
	border-top: 1px solid rgba(255,255,255,0.8); 
	padding: 0; overflow: hidden; 
	background: rgba(51,68,68,0.9) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWBAMAAAA2mnEIAAAAGFBMVEU7Tk4AAAARFBMnKycnOjo6OjoTJyc6Tjqx/p3JAAAACHRSTlMNDQ0NDQ0NDTiWuKEAAADSSURBVBjTBcExU8IwGIDh90uKrF+aVNeE1rq2BPa2oK61Bzuc3LnCeefv93lIw2vn69/DIUUe+R6SmqV1BaUrUp/BJkHDHP4S4JTeM0cfu75RDi9NdNEc13iY7qtGW4myB3u5oO/fl2biE33LPqsNIx/7elteU2Ouhq9ys+iTDMgJN0E2YYdU7F3pcF1utldGM9pOz7p7FtbnCuZ64dGSGW7FLQrLiQ2mLia/zj8nAn3bjdn6oSKu+hTdfYrHCIsI4pQEc73dWHGFCFQ2UJVWRcI/fj0f6SmTv/kAAAAASUVORK5CYII=') 0 0 repeat; 
	z-index: 2001; 
}
	
.footerContainer .leftside { 
	position: relative; 
	float: left; 
	opacity: 0.8; 
	margin-left: 10px; 
}

.footerContainer .rightside { 
	position: relative; 
	float: right; 
	opacity: 0.8; 
	margin-right: 10px; 
}

.vk2Footer .footerContainer { 
	font-size: 11px; 
	color: #fff; 
	margin-top: .15%; 
}

.vk2Footer .footerContainer .footerList { list-style: none }
.footerContainer .footerList .listelement { 
	float: left; 
	margin-top: 2px; 
	padding-left: 5px; 
	padding-right: 5px;
}

.footerContainer .footerList .listelement a { color: #fff; }
.footerContainer .footerList .thick { font-weight: 500; }
.footerContainer .footerList .leftborder { border-right: 1px dotted #fff; }
/* 
    Document   : VK2LayerSwitcher
    Created on : Sep 5, 2013, 11:10:19 AM
    Author     : mendt
    Description:
        Purpose of the stylesheet follows.
*/



.vk2LayerbarPanel{
	padding: 8px;
    height: 500px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: smaller;
    border: 2px solid #ADA79E;
}

/* styling of the header of the layerbar */
.vk2LayerbarPanel .layerbar-header-container{
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    height: 20px;
}

.layerbar-header-container .overlayLbls{
	position: relative;
	float: left;
}

.layerbar-header-container .add-layer{
	position: relative;
	float: right;
	margin-left: 5px; 
	outline: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
}

.layerbar-header-container .add-layer:after{
	content: 'N';
}

.vk2LayerbarPanel .overlayDivs{
    overflow-y: auto;
    padding-left: 10px;
    height: 260px;
} 

/*
Styling of the list elements
 */
.layersDiv .overlayElem{
    list-style-type: none;
}

/*
 * Styling of the minimized view of the overlay element
 */
.overlayElem .minimize{
    height: 25px;
    padding-right: 15px;
}

.overlayElem .minimize input{
    position: relative;
    float: left;
    top: 2px;
    left: 2px;
}

.overlayElem .minimize div{
    cursor: pointer;
    position: relative;
    left: 5px;
    float: left;
    margin-top: 4px;    
}

.overlayElem .minimize .layer-remove{
	margin-top: 0px;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	float: right;
	cursor:pointer;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0;
}

.close.layerbar-remove-layer{
	padding: 0px;
	margin: 0px;
	margin-top: -3px;
	margin-right: 3px;
	background: transparent;
	color: white;
	border: none;
	opacity: 1;
}

/*
 * Styling of the body of a layer list element
 */
.overlayElem .maximize .layer-max-container{
	margin-left: 10px;
	width: 300px;
	height: 70px;
	border-radius: 6px;
	font-size: 12px;
	font-family: "Helvectica", "Arial", "sans-serif";
	line-height: 100%;
	border-width: 1px;
	border-style: dotted;
	border-color: rgb(0, 159,227);
}
	  	
.overlayElem .maximize .layer-max-container .media, .overlayElem .maximize .layer-max-container .media-body{
	overflow: visible;
}
	  	
.overlayElem .maximize .thumbnail{
	margin: 8px;
	padding: 0px;
}

/* Css styles for slider div generic */
.overlayElem .maximize .slider-container{
    position: relative;
    float: left;
    width: 150px;
    height: 60px;
}

.slider-container .slider-outer{
	padding: 5px;
}
		
.slider-container .slider-inner{
	margin-left: 7px;
	margin-top: 3px;
	width: 100px;
}
		
.slider-container .tooltip{
	top: -33px;
	left: -10px;
	display: none;
}
		
.slider-container .label{
    font-size: 10px;
    color: #333;
}

.slider-container .time .tooltip{
	top: -33px;
	left: -5px;
	display: none;
}
		
.slider-container .time .slider-outer{
	padding: 0px 5px 5px 5px;
}

/* Button for open the LayerSearch */
.vk2LayerbarControl{
	position: absolute;
	top: 85px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2LayerbarControl .vk2SidebarIcon{
	background-position: -100px 0;
}/* Styling of the header of the MapSearchPanel */

.vk2LayersearchPanel{
    width: 100%; 
    margin-right: 20px;
}

/*
	Button for open the LayerSearch
*/
.vk2LayersearchControl{
	z-index: 1000;
	position: absolute;
	top:40px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2LayersearchControl .vk2SidebarIcon{
	background-position: 0px 0;
}

/* new styling */
.panel-heading{
    height: 40px;
}

.panel-heading .content{
	display: block;
	width: 90%;
	height: 100%;
	position: relative;
	float: left;
}
    
.panel-heading .loading{
    width: 10%;
    height: 20px;
    position: relative;
    float: left;      	
}
    
.panel-heading .loading.active{
	background: url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* Styling of the MapSearchTable */
.searchTablePanel{
    width: 100%;
}
    
.hover-table{
    background-color: #f5f5f5;
    cursor: pointer;
}
    
.table-heading{
    display: block;	
    border-bottom: 2px solid #dddddd;
}
    
.table-heading .tablesorter-headerRow{
    cursor: pointer;
}
    
.header-col{
    border-bottom: 0px !important;
}
    
.table-body{
    display: block;
    min-height: 200px;
    height: auto;
    max-height: 240px;
    overflow-y: scroll;
}

/* Size of table columns */
.table-heading .header-col-time .titel{
	padding-left: 10px;
}

.col-time{
	width: 65px;
}

.col-titel, .col-tools{
	width: 335px;
}

/* Styling of the Tools */
.panel-spatialsearch-tools{
	position: relative;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.panel-spatialsearch-tools > label {
	margin-bottom: 10px;
}

.panel-spatialsearch-tools .time-slider-container {
	height: 40px;
}

.panel-spatialsearch-tools .time-slider-container > div{
	font-weight: bold;
	position: relative;
	float: left;
}

.time-slider-container .slider-label-start{
	width: 40px;
	margin-right: 10px;
}


.time-slider-container .slider{
	width: 255px;
}

.time-slider-container .slider-label-end{
	width: 40px;
	margin-left: 13px;
}

.panel-spatial-search-tools .layer-chooser-container{
	position: relative;
	float: left;
	margin-top: 10px;
}

.layer-chooser-container .layer-chooser-input{
	padding: 5px;
}

.layer-chooser-container .layer-chooser-btn{
	padding: 5px;
}

/* MinimizeMesstischblattViewer style */
.panel-spatialsearch-mtbview {
	position: relative;
	float: left;
	width: 100%;	
	padding-left: 10px;
}

.mmv-table-body{
    display: block;
    min-height: 40px;
    height: auto;
    max-height: 120px;
    overflow-y: scroll;
}

.mmv-tools-container{
	position: relative;
	float: right;
	width: 100px;
	height: 20px;
}

.mmv-tools-container .mmv-tool-anchor{
	position: relative;
	float: right;
	margin-left: 5px; 
	outline: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.mmv-tool-icon {
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;	
}/* Styling of the header of the MapSearchPanel */

.vk2LayersearchPanel{
    width: 100%; 
    margin-right: 20px;
}

/*
	Button for open the LayerSearch
*/
.vk2LayersearchControl{
	z-index: 1000;
	position: absolute;
	top:40px;
	left:-40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
}

.vk2LayersearchControl .vk2SidebarIcon{
	background-position: 0px 0;
}

/* new styling */
.panel-heading{
    height: 40px;
}

.panel-heading .content{
	display: block;
	width: 90%;
	height: 100%;
	position: relative;
	float: left;
}
    
.panel-heading .loading{
    width: 10%;
    height: 20px;
    position: relative;
    float: left;      	
}
    
.panel-heading .loading.active{
	background: url('/vkviewer/static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* Styling of the MapSearchTable */
.searchTablePanel{
    width: 100%;
}
    
.hover-table{
    background-color: #f5f5f5;
    cursor: pointer;
}
    
.table-heading{
    display: block;	
    border-bottom: 2px solid #dddddd;
}
    
.table-heading .tablesorter-headerRow{
    cursor: pointer;
}
    
.header-col{
    border-bottom: 0px !important;
}
    
.table-body{
    display: block;
    min-height: 200px;
    height: auto;
    max-height: 240px;
    overflow-y: scroll;
}

/* Size of table columns */
.table-heading .header-col-time .titel{
	padding-left: 10px;
}

.col-time{
	width: 65px;
}

.col-titel, .col-tools{
	width: 335px;
}

/* Styling of the Tools */
.panel-spatialsearch-tools{
	position: relative;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.panel-spatialsearch-tools > label {
	margin-bottom: 10px;
}

.panel-spatialsearch-tools .time-slider-container {
	height: 40px;
}

.panel-spatialsearch-tools .time-slider-container > div{
	font-weight: bold;
	position: relative;
	float: left;
}

.time-slider-container .slider-label-start{
	width: 40px;
	margin-right: 10px;
}


.time-slider-container .slider{
	width: 255px;
}

.time-slider-container .slider-label-end{
	width: 40px;
	margin-left: 13px;
}

.panel-spatial-search-tools .layer-chooser-container{
	position: relative;
	float: left;
	margin-top: 10px;
}

.layer-chooser-container .layer-chooser-input{
	padding: 5px;
}

.layer-chooser-container .layer-chooser-btn{
	padding: 5px;
}

/* MinimizeMesstischblattViewer style */
.panel-spatialsearch-mtbview {
	position: relative;
	float: left;
	width: 100%;	
	padding-left: 10px;
}

.mmv-table-body{
    display: block;
    min-height: 40px;
    height: auto;
    max-height: 120px;
    overflow-y: scroll;
}

.mmv-tools-container{
	position: relative;
	float: right;
	width: 100px;
	height: 20px;
}

.mmv-tools-container .mmv-tool-anchor{
	position: relative;
	float: right;
	margin-left: 5px; 
	outline: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.mmv-tool-icon {
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;	
}/** style of the form- and input-elements*/
.georeference-tools-container{
	z-index: 1000;
	position: absolute;
	top: 200px;
	width: 250px;
	height: 250px;
	left: -250px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
	background: white;
}

.georeference-tools-container .georeference-tools-handler{	
	z-index: 1000;
	position: absolute;
	top: 40px;
	right: -40px;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
	width: 40px;
	height: 40px;
}

.georeference-tools-container .georeference-tools-inner-container{
	padding: 10px;
	margin-left: 1px;
	display: none; 
}

.georeference-tools-inner-container .vk2GeorefToolsBtn{
	margin-bottom: 5px;
	margin-top: 5px;
}

/* Loading screen styling*/
.georefLoadingScreen{
	background-color:rgb(173,167,158);
    opacity: 0.9;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: none;
	top: 0px;
	left: 0px;
	position: fixed;
}


.georefLoadingScreen .centerLoading{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-right: -100px;
	margin-top: -50px;
	margin-bottom: -50px;
	width: 200px;
	height: 100px;
}

/* Tempory content for toolbar icon */
.georeference-tools-handler .icon{
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 8px;
}

.georeference-tools-handler .icon:after{
	content: "TB";
}/* 
	Generic stuff 
*/

.vk2SBPanel { 
	position: absolute; 
	top: 90px; 
	right: -420px; 
	bottom: 30px; 
	width: 420px; 
	z-index: 1000; 
	display: block; 
	background: #fff; 
	/* @alternate */
	background: rgba(255,255,255,0.9); 
	border: 1px solid rgba(0,0,0,0.3); 
}

.vk2SBPanel.open:after { 
	position: absolute; 
	top: 0; 
	left: -1px; 
	width: 1px; 
	height: 100%; 
	background: rgba(51,68,68,0.9); 
	content: "";  
}

.vk2SBControlBtn { 
	position: absolute; 
	left: -46px; 
	outline: none; 
	background-color: rgba(0,177,158,0.9); 
	cursor: pointer; 
	border-radius: 0; 
	border: 1px solid rgba(0,0,0,0.4); 
	border-width: 0 0 1px 0; 
}

.vk2SBControlBtn:after { 
	position: absolute; 
	left: -5px; 
	top: 15px; 
	height: 0; 
	width: 0; 
	border: 5px solid #00b19e; 
	border-width: 5px 5px 5px 0; 
	border-color: transparent #00b19e transparent transparent; 
	content: ""; 
}

.vk2SBControlBtn.open:after { border-right-color: rgba(51,68,68,0.9); }
.vk2LayersearchControl { top: 25px; }
.vk2LayerbarControl { top: 80px; }
.vk2GeorefControl { top: 150px; }
.vk2SBControlBtn.open { background: rgba(51,68,68,0.9); }

.vk2SidebarIcon { 
	text-indent: 100%; 
	display: inline-block;
	overflow: hidden; 
	vertical-align: top; 
	width: 40px; 
	height: 40px; 
	background: url('/vkviewer/static/images/sidebarIcons.png') no-repeat 0 0; 
	margin: 3px; 
}

.vk2LayersearchControl .vk2SidebarIcon { background-position: 0 0 }
.vk2LayerbarControl .vk2SidebarIcon { background-position: -40px 0 } 
.vk2GeorefControl .vk2SidebarIcon { background-position: -120px 0 } 
.vk2LayersearchControl:hover .vk2SidebarIcon { background-position: 0 -40px }
.vk2LayerbarControl:hover .vk2SidebarIcon { background-position: -40px -40px } 
.vk2GeorefControl:hover .vk2SidebarIcon { background-position: -120px -40px } 

/* Header */
.vk2SBHeaderPanel { 
	position: relative; 
	padding: 8px; 
	height: 40px; 
	border: 2px solid #ada79e 
}

.vk2SBHeaderPanel .vk2SBHeaderLabel { 
	width: 200px; 
	margin-top: 3px; 
	float: left 
}

.vk2SBHeaderPanel .vk2SBClose { 
	float:right;
	margin-top: 2px;
	cursor: pointer;
	margin: 0px;
	border: none;
	background: none;
}

.panel-heading .content { display: block }

.vk2LayersearchPanel { width: 100%; margin-right: 20px }

.vk2SBContentPanel{
	display: none;
	padding: 10px;
	height: 100%;
}

.vk2SidebarBodyPanel{
	padding-right: 5px;
	overflow-y: auto;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	padding-top: 10px;
	width: 100%;
	height: auto;
	padding-bottom: 75px;
}

/*
	Body
*/
.vk2LayerSearchContent{
	display: block;
}

.vk2LayerManagementContent{
	display: none;
}

/* Layerbar Badge */
.vk2LayerbarControl .vk2SidebarIcon .badge{
	color: white;
	width: 20px;
	text-indent: 0%;
	background: transparent;
	margin-top: 25px;
}
div.metadata-record{
	padding: 10px;
	width: 700px;
	height: 500px;
	display: none;
	
}

table.metadata-record-table, table.metadata-record-table table, table.metadata-record-table tbody, table.metadata-record-table fieldset,
table.metadata-record-table tr, table.metadata-record-table div, table.metadata-record-table legend {
	display: block;
}

.col-header-titel{
	display: block !important;
}

/* table header */
.metadata-record-table tbody > tr > td{
	background-image: url('/vkviewer/static/images/pattern_hr.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
}

.metadata-title{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	color: #333;
}

.metadata-record-table .thumbnail{
	max-height: 100px;
	max-width: 100px;
	border: 1px solid #B3D4E6;
	margin: 5px;
	padding: 0px;
}

fieldset.content > legend {
	border-bottom: none;
}

fieldset.content > legend > a{
	font-size: 12px;
	position: relative;
	float: left;
	padding: 0px 0px 7px 0px;	
}
/* content table */
.metadata-record-table-content{
	width: 100%;
}

.metadata-record-table-content tbody > tr {
	border-bottom: 1px solid #B3D4E6;	
}

.metadata-record-table-content tbody > tr > td{
	background-image: none;
	border: none;
	color: #069;
	padding: 7px 0px 7px 7px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;	
	width: 500px;
}

.metadata-record-table-content tbody > tr > td > a{
	word-wrap: break-word;
	overflow: hidden;
}

.metadata-record-table-content tbody > tr > td > div{
	color: #999;
	line-height: 1.4em;
}

.metadata-record-table-content tbody > tr > td div.el > label{
	float: left;
	margin-right: 5px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #444444;	
}

.metadata-record-table-content tbody > tr > th{
	width: 200px;
	color: #333;
	font-size: 12px;
	font-weight: normal;
}

.metadata-record-table-content tbody > tr {
	padding: 5px;
}.open-error-dialog{
	z-index: 2000;
	outline: none;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	border-radius: 0;
	width: 40px;
	height: 40px;
}


.vk2ReportErrorDialogContainer{
	z-index: 2000;
}